
@{
    ViewBag.Title = "InwardReport";
}

<h2>Inward Report</h2>


<div class="row" id="divReport">
    <iframe id="ReportFrame" src="" width="100%" height="1000px" style="border: none"></iframe>

</div>

<script>
    $(document).ready(function () {

        //}
        var src = '../ReportSet/InwardReportViewer.aspx';
        //We can add parameters here
       //We can append more than one parameter like below
        //var companyId = 1
        //src = src + "compnayID=" + companyId

        //Create a dynamic iframe here and append this to div tag
        var iframe = '<iframe id="reportFrame" width="100%" height="800px" scrolling="no" frameborder="0" src="' + src + '" allowfullscreen></iframe>';
        $("#divReport").html(iframe);

        });


</script>