@{
    ViewBag.Title = "Home Page";
}

<body>
        <h3>Welcome to The Picanol Portal. Please select an application from below</h3>
    <div class="container tile-container">
        <div class="row">
            @Html.Partial("~/Views/Shared/_Tile.cshtml")


        </div>
    </div>
</body>